In [1]:
import pandas as pd

In [9]:
targets = pd.read_csv("data/targets.csv", index_col="db_id")

In [33]:
targets.groupby(targets.index)["uniprot_accession"].

db_id
DB00001                      P00734
DB00006                      P00734
DB00007                      P30968
DB00010                      Q02643
DB00014                      P22888
                     ...
DB06274                      P35372
DB06285                      Q03431
DB06287                      P42345
DB06288                P14416P35462
DB06692    P07477P17538P00747P06870
Name: uniprot_accession, Length: 1044, dtype: object

In [31]:
targets

        uniprot_accession uniprot_id
db_id
DB00001            P00734       THRB
DB00006            P00734       THRB
DB00007            P30968      GNRHR
DB00010            Q02643      GHRHR
DB00014            P22888       LSHR
...                   ...        ...
DB06288            P35462       DRD3
DB06692            P07477       TRY1
DB06692            P17538      CTRB1
DB06692            P00747       PLMN
DB06692            P06870       KLK1

[3259 rows x 2 columns]